<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>Vegetable</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body xmlns:th="http://www.thymeleaf.org">

        <div th:inline="text">Vegetable !</div>
        <ul>
            <li th:each="v : ${veges}"
                th:inline="text" th:object="${v}">
                [[*{id}]] [[*{name}]] [[*{color}]] [[*{price}]]!
            </li>
        </ul>
        
        <hr/>

    </body>
</html>
